
<%- partial('_partial/archive-title', {page: page}) %>

<% site.categories.sort('name').map(function(category){  %>
    <% if(category.name == 'reports') { %>
            <div class="archives">
                <% category.posts.sort('-date').map(function(post, i){  %>
                    <%- partial('_partial/archive-post', {post: post, index: true}) %>
                    <% if (post.subtitle && post.subtitle.length) { %>
                        <h3 class="post-subtitle">
                            <%- post.subtitle %>
                        </h3>
                    <% } %>
                <% }) %>
            </div>
        </div>
    <% } %>
<% }) %>
